/*상단바 border*/
.navbar {
    border-bottom: 1px solid lightgrey;
}

/*상단바 메뉴정렬*/
.main-menu {
    display: flex;
    margin: auto;
}

/*상단바 인스타그램이미지정렬*/
.main-img {
    margin-right: 240px;
    margin-left: 30px;
}

/*상단바 아이콘정렬*/
.icon {
    display: flex;
    margin-left: 100px;
}

/*상단바 아이콘 및 피드 아이콘 정렬 및 포인터*/
.material {
    margin-top: 5px;
    margin-left: 25px;
    cursor: pointer
}

/*좌측피드 오른쪽피드 정렬*/
.main-body {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-right: 290px;
}

/*좌측피드 정렬*/
.left-body {
    /*background-color: skyblue;*/
    margin-right: 20px;
    width: 700px;
    height: 3200px;
    display: flex;
    flex-direction: column;
}

/*피드상자배경 및 정렬 */
.feed-box {
    background-color: white;
    width: 600px;
    margin: 10px 30px 10px 0px;
    min-height: auto;
    padding-bottom: 10px;
    height: 910px;
}

/*피드이미지 크기 */
.feed-img {
    width: 100%;
    height: 100%;

}

/*피드내용 정렬 */
.feed-content {
    padding: 0px 10px;
    display: flex;
}

/*피드내용 정렬 */
.feed-text {
    font-size: 15px;
}

/*좋아요 정렬*/
.feed-like {
    padding: 0px 10px;
}

/*댓글들 정렬*/
.feed-reply {
    font-size: 15px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

/*피드아이콘 정렬*/
.feed-icon {
    padding: 5px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
}

span {
    padding-right: 5px;
}

/*피드이름 정렬*/
.feed-name {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/*피드내용이름 정렬*/
.feed-name-text {
    font-size: 15px;
    padding: 0px 10px;
    font-weight: bold;
    cursor: pointer
}

/*피드위 프로필박스 정렬*/
.profile-box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    cursor: pointer
}

/*피드위 이미지 정렬*/
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*아이콘 호버시*/
.material-feed {
    cursor: pointer
}

/*댓창 정렬*/
.comment {
    justify-content: space-between;
}

/*우측피드 정렬*/
.right-body {
    /*background-color: yellow;*/
    padding-top: 20px;
    width: 350px;
    height: 1000px;
    left: 61%;
    position: fixed;
}

/*이름 정렬*/
.name-content {
    display: flex;
    flex-direction: column;
}

/*이름 밑 내용 정렬*/
.name-content-text {
    font-size: 12px;
    padding: 0px 10px;
    font-weight: bold;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}

/*내 프로필사진 정렬*/
.big-profile-box {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
}

/*팔로우/전환텍스트 설정*/
.link-text {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

/*회원님을 위한 추천 설정*/
.recommend-box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

/*피드 더보기버튼 설정*/
.comment-box {
    margin: 30px 0px 0px 5px;
    font-size: 12px;
    font-weight: bold;
    color: lightgray;
    display: flex;
    flex-direction: column;
}

/*피드 이미지크기 설정*/
.carousel-item {
    height: 600px;
    width: 600px;
}

/*피드위 이미지 이름 ... 설정*/
.profile-bar {
    display: flex;
    align-items: center;
}

/*피드내용 더보기 설정*/
.feed-text-dalre {
    border: none;
    background-color: transparent;
    color: var(--gray);
    font-size: 14px;
    cursor: pointer;

}

/*미디어쿼리 설정*/
@media screen and (max-width: 1000px) {
    .right-body {
        display: none;
    }

    .form-control {
        display: none;
    }

    .left-body {
        margin-left: 360px;
    }
}
